<:Title>
  Home
<link href="http://fonts.googleapis.com/css?family=Kaushan+Script" rel="stylesheet" type="text/css">
<:Body>

  <h1>Chá Bar - Carla e San</h1>

<div class="polaroid">
  <p>Carla e San</p>
  <img src="assets/images/carlaesan.jpg" />
</div>
<br>
<br>

<p>Amigos Queridos,</p>

<p>
O casamento está chegando e pra ver se todos estão prontos para o grande dia vamos fazer um Chá Bar bem animado.
Queremos os amigos mais próximos para festejar e nos animar nesse momento pre casamento que é um momento de tanta ansiedade.</p>

<p>Contamos com vocês.</p>

<p>As mulheres podem levar item para cozinha e os homens uma bebida para quando forem nos visitar em nossa casa.</p>

<p>Obrigada e esperamos vocês.</p>

<h2>Carla e San</h2>


<script type="text/javascript">
var easter_egg = new Konami(function() { alert('Konami code!')});
easter_egg.load();
</script>
