<:Title>
  Home

<:Body>
  <h1>Open House da Momô e do Key</h1>

  <div id="content">
    <center><img src="app/main/assets/images/openhouse.png" alt="OPEN HOUSE! 
Contamos com a sua presença em nosso Open House
Monique e Diogo 
Data: 25/04/2015 - 13 horas 
Rua Carneiro da Cunha, 846 - Salão de Festas"></center>


    <p>Oi pessoal, tudo bem? 
    </p>
    <p>Primeiramente muito obrigado por nos visitarem nesse dia, que iremos utilizar para comemorar nossa nova fase, de morarmos juntos, e também rever os amigos!</p>

    <p>Em segundo lugar, obrigado por nos ajudar também! Agradecemos de coração antecipadamente todos os presentinhos que vamos ganhar, que vão nos ajudar no dia a dia!</p>
  </div> 

