<:Title>
  Home

<:Body>
  <h1>Open House da Midori e do Guilherme</h1>


    <p>Oi pessoal, tudo bem? 
    </p>
    <p>Primeiramente muito obrigado por nos visitarem nesse dia, que iremos utilizar para comemorar nossa nova fase, e também rever os amigos!</p>

    <p>Em segundo lugar, obrigado por nos ajudar também! Agradecemos de coração antecipadamente todos os presentinhos que vamos ganhar, que vão nos ajudar no dia a dia!</p>
  </div> 

<script type="text/javascript">
var easter_egg = new Konami(function() { alert('Konami code!')});
easter_egg.load();
</script>
